<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- CSS Bootstrap 5 -->
        <link rel="stylesheet" href="/bootstrap.min.css">
        <!-- CSS Bootstrap 5 Icons -->
        <link rel="stylesheet" href="/bootstrap-icons.css">
        <!-- CSS normal -->
        <link rel="stylesheet" href="/css/styles.css">
        <title>Tiendas App</title>
    </head>
    <body>
        {{> navbar }}

        {{{ body }}}

        <script src="/js/nav-bar-items.js"></script>

        <!-- JavaScript Bootstrap 5 -->
        <script src="/bootstrap.bundle.min.js"></script>
    </body>
</html>