<h1>Index</h1>

<script>
    let role = localStorage.getItem('role');
    if (role === "client") {
        document.querySelector("#navItemShowMyProducts").remove();
    } else {
        document.querySelector("#navItemShowStores").remove();
    }
</script>