<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Tiendas App</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {{#if user}}
                    {{!-- Items cliente --}}
                    <li class="nav-item" id="navItemShowStores">
                        <a class="nav-link" id="navLinkShowStores" href="/show-stores">Ver tiendas</a>
                    </li>
                    <li class="nav-item" id="navItemViewMySales">
                        <a class="nav-link" id="navLinkViewMySales" href="/view-my-sales">Mis pedidos</a>
                    </li>
                    {{!-- Items tienda --}}
                    <li class="nav-item" id="navItemStatistics">
                        <a class="nav-link" id="navLinkStatistics" href="/statistics">Estadísticas</a>
                    </li>
                    <li class="nav-item" id="navItemCreateProduct">
                        <a class="nav-link" id="navLinkCreateProduct" href="/create-product-form">Crear Producto</a>
                    </li>
                    <li class="nav-item" id="navItemShowMyProducts">
                        <a class="nav-link" id="navLinkShowMyProducts" href="/show-products">Productos</a>
                    </li>
                    <li class="nav-item" id="navItemShowOrders">
                        <a class="nav-link" id="navLinkShowOrders" href="/show-sales">Pedidos</a>
                    </li>
                    {{!-- Items en comun --}}
                    <li class="nav-item">
                        <a class="nav-link" id="navLinkProfile" href="/profile">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Cerrar sesión</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" id="navLinkLogin" href="/login-form">Iniciar sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="navLinkRegister" href="/register-user-form">Registrarse</a>
                    </li>
                {{/if }}
            </ul>
        </div>
    </div>
</nav>