<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Tiendas App</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {{#if user}}
                    <li class="nav-item" id="navItemSeeStores">
                        <a class="nav-link" href="/see-stores">Ver tiendas</a>
                    </li>
                    <li class="nav-item" id="navItemSeeMyProducts">
                        <a class="nav-link" href="/see-my-products">Mis Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Cerrar sesión</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/login-form">Iniciar sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register-user-form">Registrarse</a>
                    </li>
                {{/if }}
            </ul>
        </div>
    </div>
</nav>