<div class="container pt-5 px-0">
    <div class="row mb-3">
        <div class="col">
            <div class="card rounded-3">
                <div class="card-header">
                    <h2 class="text-center">Productos</h2>
                </div>
                <div class="card-body">
                    <table class="table table-hover m-0 text-center align-middle">
                        <thead>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Operaciones</th>
                        </thead>
                        <tbody id="rowsProducts"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-8 col-8 mx-auto">
            {{> messages }}
        </div>
    </div>
</div>

<script src="/js/show-products.js"></script>
