<div class="container p-4">
	<div class="row">
		<div class="col">
			<div class="card rounded-3">
				<div class="card-header">
					<h1 class="text-center">Estadísticas</h1>
				</div>
				<div class="card-body">
					<h3 class="text-center">Clientes que hacen más pedidos</h3>
					 <table class="table table-hover m-0 text-center">
                        <thead>
                            <th scope="col">Nombre cliente</th>
                            <th scope="col">Cantidad de pedidos</th>
                        </thead>
                        <tbody id="rowsClientMoreSales"></tbody>
                    </table>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/js/statistics.js"></script>